<html>
	<head>
		<title>ChatRoom</title>
		<%include partials/basicStyle %>

	</head>
		 <%include partials/header_navbar_brand%>

				  <div class="collapse navbar-collapse flex-row-reverse" id="link-navbar">
				  	
				 	<ul class=" navbar-nav">
				 		
				 		<li class="nav-item"><a href="/newMember"  class="btn btn-outline-dark  mr-4 mb-2" > sign up </a></li>
				 		<li class="nav-item"><a href="/invited" class="btn btn-outline-dark mb-2" > I have an invitation </a></li>
				 	</ul>
				  </div>

				
			</nav>
			
		</header>

		<section class="container-fluid">

			<div class="row">

				<div class="col-sm-12 m-auto">
					
					<form method="" action ="" > 
						<input type="email"  placeholder="email"  name="email" class="myInput">
						<input type="password" placeholder="password"  name="pass" class="myInput">
						<input type="submit" value="Log In" class="bouton">
					</form>	
				</div>
				
			</div>
				
			
		</section>

		<%  include partials/footer %>
		<% include partials/basicScript%>

	</body>
</html>