<html>
 	<head>
 		<title> Invited </title>
 		<%include partials/basicStyle %>
	</head>

		<% include partials/header_navbar_brand %>
		

					<div class="collapse navbar-collapse flex-row-reverse" id="link-navbar">
					  	
						<ul class=" navbar-nav">
					 		
					 		<li class="nav-item">
								<a href="/" class="btn btn-outline-dark">Back</a>
					 			
					 		</li>
						</ul>
					</div>

					
			</nav>
  		</header>

		<section>
			<form method="" action="">
				<label for="room-name"> Enter the name of your room: </label>
				<input type="text" placeholder="room-name"  name="room-name" required id="room-name" class="myInput"/>
				
				<input type="submit" value="enter" class="bouton" />
			</form>
		</section>

		<% include partials/footer %>
		<% include partials/basicScript%>

	</body>
</html>